:root {
  /**
    |============================
    | colors
    |============================
  */
   --primary-accent-color: #4d5ae5;
    --secondary-accent-color: #404bbf;
    --title-color: #2e2f42;
    --color-green: #31d0aa;
    --main-text-color: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --light-text-color: #f4f4fd;
    --color-navy-blue-modal: #2e2f42;
    --hero-background: #2e2f42;
    --primary-white-color:#ffffff;
    --color-dairy: #fcfcfc;

    /**
      |============================
      | fonts
      |============================
    */
    --primary-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    
}

body {
 
  background-color: var(--primary-white-color)  ;
  color:var(--main-text-color);
  font-family: var(--primary-font);
  line-height: 1.5;
  letter-spacing: 0.02em;
  
    
}

.hero-title {
  
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  
}
.section-dark {
  background-color: var(--hero-background);
}

.secondary-title {
  
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      text-align: center;
      text-transform: capitalize;
    color:var(--title-color);
    
    
}

.third-title {
  
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
  text-transform: none;
  color: var(--title-color);
}

.text-style-body {
  
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  text-transform: none;
  font-style: normal;
  color: var(--main-text-color);
}
.text-style-body:hover,
.text-style-body:focus {
  color: var(--primary-accent-color);
}
 
.light-text-body {

  font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    text-transform: none;
    color: var(--light-text-color);
}



.text-style-body-medium {
  
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  text-transform: none;
  color: var(--hero-background);

}
.text-style-body-medium:hover ,
.text-style-body-medium:focus {
  color: var(--primary-accent-color);
  text-decoration: underline;
}


.btn {
  
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--primary-white-color);
    background-color: var(--primary-accent-color);
    cursor: pointer;

}

.btn:hover {
  color: var(--primary-white-color);
background-color: var(--secondary-accent-color); 
  
}
.btn:focus {
  color: var(--primary-white-color);
  background-color: var(--secondary-accent-color); 
}

.btn-dark {
  
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--primary-accent-color);
    background-color: var(--light-text-color);
    cursor: pointer;
    

}

.btn-dark:hover {
  background: var(--secondary-accent-color);
  color: var(--primary-white-color);
} 
.btn-dark:focus {
  background: var(--secondary-accent-color);
  color: var(--primary-white-color);
}

.text-style-small-text {
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-transform: none;
}

.link {
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration: underline;
  text-transform: none;
}

.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primary-accent-color);


}

.logo-span {
  
  color: var(--title-color);
}
.logo-span-light {
  color: var(--light-text-color)
}


.list {

}