body{
    background-color:#FFFFFF;

    color:#434455
}

.header-logo-link,
.footer-link {
  text-transform: uppercase;
}
.link{
  text-decoration: none;
}
/**
  |============================
  | Header
  |============================
*/
.header {
    background-color: #E7E9FC;
}
.nav {
}
.header-logo-link {
text-decoration:none;
font-weight: 800;
  font-size: 18px;
  color: #2E2F42;
}


.header-nav-list {
  
}
.header-nav-item {
  
}
.header-nav-studio {
  color:#2E2F42;
  text-decoration: none;
  

}
.header-nav-studio:hover {
  color:#4D5AE5;

}
.header-nav-studio:focus {
color: #4D5AE5;
}
.header-nav-studio:active {
  color:#4D5AE5;
  text-decoration:underline;
}
.header-nav-portfolio {
  color: #2E2F42;
  text-decoration: none;
}
.header-nav-portfolio:hover {
  color: #4D5AE5;
}
.header-nav-portfolio:focus {
color: #4D5AE5;
}

.header-nav-portfolio:active {
  color: #4D5AE5;
  text-decoration: underline;
}
.header-nav-contacts {
  color: #2E2F42;
  text-decoration: none;
}
.header-nav-contacts:hover {
color: #4D5AE5
}
.header-nav-contacts:focus {
  color: #4D5AE5;
}
.header-nav-contacts:active {
  color:#4D5AE5;
  text-decoration:underline;
}
.header-address {
  color: #434455;
}
.header-address-list {
  
}
.header-address-item {
}
.header-adress-mailto {
  text-decoration: none;
  color:#434455
}
.header-adress-mailto:hover {
  color:#4D5AE5;
}
.header-adress-mailto:focus {
  color: #4D5AE5;
}
.header-adress-mailto:active {
  color:#404BBF;
}
 
  

.header-address-tel {
  text-decoration: none;
  color: #434455;
}
.header-address-tel:hover {
  color: #4D5AE5;
}
.header-address-tel:focus {
color: #4D5AE5;
}
.header-address-tel:active {
  color:#404BBF;
}
/**
  |============================
  | Hero
  |============================
*/
.section-hero {
  bacground-color:
  color:white;
  background-color:#2E2F42;
}

.section-hero-title {
  color:white;

}

.hero-button {
  color:white;
  background-color:#4D5AE5;

}
.hero-button:active {
  color:#4D5AE5;
}
.hero-button:hover {
  background-color:#404BBF;
  color:white;
}
/**
  |============================
  | section-advantages
  |============================
*/
.section-advantages{
  background-color:#E5E5E5;;
  color:#434455;
}
.advantages-list {
  background-color: white;
    color: #434455;
}

.advantages-item {
  background-color: white;
    color: #434455;
}

.advantages-link {
  background-color: white;
    color: #2E2F42;
}

.advantages-descr {
  background-color: white;
  color: #434455;
}
/**
  |============================
  | section-work
  |============================
*/
.section-work {

}

.section-work-title {
  color:#2E2F42;
}

.section-work-list {
  background-color: #E5E5E5;;
  color:#2E2F42
}

.section-work-item {
  

}
/**
  |============================
  | section-team
  |============================
*/

.section-team {
  background-color: #F4F4FD;
}

.section-team-title {
  color:#2E2F42;
}

.section-team-list {
  background-color: #FFFFFF;

}

.section-team-item {}

.section-team-mark {
  color:#2E2F42;
}

.section-team-descr {
  color:#434455;
}

.section-team-tom {}

.section-team-camilla {}

.section-team-daniel {}
/**
  |============================
  | footer
  |============================
*/
.footer {
  background-color:#2E2F42 ;
  color:#F4F4FD
}

.footer-link {}

.footer-descr {}

/**
  |============================
  | Portfolio
  |============================
*/

.hero-portfolio {E5E5E5;
}

.hero-portfolio-list {

}

.hero-portfolio-item {
  
}
.hero-portfolio-button {
  background-color: #E7E9FC;
    color: #4D5AE5;
}
.hero-portfolio-button:hover {
  background-color: #4D5AE5;
  color: white;
} 
.hero-portfolio-button:active {
 color:#404BBF;
 
}
.hero-portfolio-button:focus {
  color:#4D5AE5;
}
.portfolio-list {

}

.portfolio-item {}

.portfolio-link {
  color:#2E2F42;
}


.portfolio-title {
  color: #2E2F42;
}
.portfolio-title:hover {
  color:#4D5AE5;
}
.portfolio-title:active {
  color:#404BBF;
}
.portfolio-title:focus {
  color:#4D5AE5;
}


.portfolio-descr {
  color: #8E8F99;
  
}